
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;  /* Centraliza verticalmente */
    text-align: center;  /* Centraliza o texto dentro da div */
    padding-bottom: 50px; 
    padding-top: 40px;
}
.container {
    width: 90%; /* Opcional: Define uma largura máxima */
    font-family: 'Poppins', sans-serif;
    height: 100%;
    padding-bottom: 50px; 
    padding-top: 50px;

}

.fotoPerfil{
    width: 150px;  
    height: 150px; 
    border-radius: 50%;
    object-fit: cover; 
}

.meuNome{
    font-family: 'IBM Plex Mono', monospace;
    color: #8a32a3;
}

.minhaProfissao{
    font-family: 'IBM Plex Mono', monospace;
    color: #284260;
}

.minhaDescricao{
    font-family: "Poppins", sans-serif;
    color: #284260;
    opacity: 0.8;
    
}

.tituloHabilidades{
    font-size: 14px;
}

.habilidades{
    display: flex;
    gap: 5px; /* Espaço entre os itens */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.item{
    background-color: rgb(88, 88, 88); 
    color: white;
    padding: 5px 10px; /* Espaçamento interno */
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px; /* Cantos arredondados */

}

.areaProjetos{
    width: 100%;
}


.tituloProjeto{
    display: flex;
    align-items: flex-start;
    color: #284260;
}


table{
    border-collapse: collapse;
    margin: 0 auto; /* centraliza horizontalmente */
    border: 1px solid #33333354;
    width: 80%;
    border-radius: 15px ;
    border-collapse: initial;
    overflow: hidden; /* evita cantos retos nos filhos */
}

table p {
    text-align: left;
    font-family: "Poppins", sans-serif;
    color: #284260;
    opacity: 0.8;
    font-size: 14px;
}


.linkProjetos{
    display: flex;
    justify-content: flex-start;
}

.tituloContato{
    display: flex;
    align-items: flex-start;
    color: #284260;
}

a{
    font-size: 14px;
}